# This file is part of DoJSON
# Copyright (C) 2015, 2016 CERN.
#
# DoJSON is free software; you can redistribute it and/or
# modify it under the terms of the Revised BSD License; see LICENSE
# file for more details.

include *.rst
include *.sh
include *.yml
include .coveragerc
include .editorconfig
include .lgtm
include .travis.yml
include .dockerignore
include docs/requirements.txt
include Dockerfile
include LICENSE
include MAINTAINERS
include pytest.ini
include tox.ini
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include dojson *.py
recursive-include dojson *.json
recursive-include tests *.py
recursive-include tests *.xml
recursive-include tests *.xslt
